*{
    margin: 0;
    padding: 0s;
}


:root{
    --colorUm: #2ECC71;
    --colorDois: #000000;
}
body{
    background-color: var(--colorUm);
}


main{
    display: flex;
  
}

.dados--calculadora{
    margin: auto;
   margin-top: 7%;
   background-color: var(--colorDois);
   height: 80vh;
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 30vw;
   font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px
  
}
h1{
    margin-top: 20%;
    color: white;

}
p{
    color: var(--colorUm);
    
}

input{
    width: 70%;
    height: 5%;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 13%;
    outline: none;
    transition: .3s;
    border: none;

}
input:focus{
    border: 2px solid var(--colorUm);
}
img{
    margin-left: 5%;
}
#nome{
    text-transform: uppercase;
}
button {
    padding: .7em 1em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 30%;
    margin: auto;
  }
  #text-area{
    width: 65%;
    margin: auto;
    border-radius: 10px;
    color: #000;
    text-align: justify;
    outline: none;
    transition: .3s;
    border: none;
  }
   #text-area:focus{
    border: 2px solid var(--colorUm);
  }

  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  @media (max-width:1078px) {
    h1{
        font-size: 1em;
        
    }
    p{
        font-size: 0.7em;
    }
    img{
        width: 30%;
    }


}


@media (max-width:1040px) {
    img{
        display: none;
    }
    .dados--calculadora{
        width: 70%;
    }
}
